@import "tailwindcss";

:root {
  --background: #F9F9F7;
  --foreground: #333333;
  --accent: #8E8E8E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-noto-sans-kr);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr), sans-serif;
}
